*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 50px;
}
.rights{
    color: #929292;
    margin-top: 15px;
    font-size: 15px;
}